{{ header }}
<div class="feed-container">
<div class="configuration__block">
            <div class="conf__text">
                <h3>Поможем сконфигурировать<br> любой сервер и СДХ <br>под ваш задачи</h3>
                <a href="#">Отправить ТЗ</a>
            </div>
            <div class="conf__img">
                <div class="title__text">
                <div class="title1">Добавить RAM?</div>
                <div class="title2">Слишком <br> мощный БП?</div>
                <div class="title3">Нужен <br>второй CPU?</div>
                </div>
                <div class="img-conf">
                    <img draggable="false" src="catalog/view/image/imgblock2.png" alt>
                </div>
            </div>
        </div>
        <div class="novinki">
            <h1>Новинки производителей</h1>
            <div class="box-cards">

{{ column_left }}
{{ content_top }}{{ content_bottom }}
    {{ column_right }}
    </div>
            <button onClick='location.href="index.php?route=product/category&language=ru-ru&path=59"' class="btn-showmore">Показать ещё</button>
        </div>
<div class="novovvedenia">
            <div class="novo-img">
                <div class="img-item">
                    <img draggable="false" src="catalog/view/image/logo1.png" alt>
                </div>
                <div class="img-item">
                    <img draggable="false" src="catalog/view/image/logo2.png" alt>
                </div>
                <div class="img-item">
                    <img draggable="false" src="catalog/view/image/logo3.png" alt>
                </div>
                <div class="img-item">
                    <img draggable="false" src="catalog/view/image/logo4.png" alt>
                </div>
                <div class="img-item">
                    <img draggable="false" src="catalog/view/image/logo5.png" alt>
                </div>
            </div>
            <div class="novo-text">
                <h3 class="light">Продаем только<br> оригинальное<br> оборудование<br> напрямую с заводов<br> производителей.</h3>
                <h3 class="no-light">Не б/у,<br> не восстановленные,<br> не реплики,<br> никакой алибабы!</h3>
            </div>
        </div>
        <div class="forma">
            <h1 class="form-title">Подберем любое оборудование<sup>*</sup><br>под ваш запрос</h1>
            <form class="form" action="#">
                <input placeholder="Имя и Фамилия" type="text">
                <input placeholder="Телефон" type="text">
                <input placeholder="Email" type="email">
                <input placeholder="Комментарий (необязательно)" type="text" style="height: 96px;text-align: left;">
                <label for="attachcreds">Прикрепить ТЗ или реквизиты</label>
                <input type="file" id="attachcreds">
                <button class="form-button" type="submit">Отправить</button>
            </form>
            <div class="text-form">
                <span class="form-subtitle">Отправляя заявку, вы соглашаетесь на обработку<br> персональных данных</span>
            </div>
            <hr>
            <p class="form-text">*ноутбуки, настольные компьютеры, телефоны, планшеты и т.д.</p>
        </div>
        
{{ footer }}