<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <base href="{{ base }}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ stylesheet }}" rel="stylesheet" type="text/css"/>
    <link href="{{ adaptive }}" rel="stylesheet" type="text/css"/>
    <title>SERVER ICT - интернет-магазин</title>
</head>
<body>
    <header class="header">
       <div class="container">
        <div class="header__menu">
            <div class="header__logo">
                <a href="index.html"><img src="catalog/view/image/Logotype.png" alt></a>
            </div>
            <div class="header__nav">
                <div class="nav__catalog">
                    <button class="btn__catalog">Каталог</button>
                </div>
                <div class="nav__search">
                    <form action="#">
                        <input placeholder="Поиск" type="search">
                        <button type="submit"><img src="catalog/view/image/logo.png" alt></button>
                    </form>
                </div>
            </div>
            <div class="header__right">
                <div class="nomber">
                    8 800 000-00-00
                </div>
                <div class="cart">
                    <a href>
                        <img src="catalog/view/image/cart.png" alt>
                    </a>
                </div>
            </div>
        </div>
        <h1 class="header__title">
            Прямые поставки корпоративного <br>оборудования из Китая
        </h1>
        <div class="header__tabs">
            <div class="tab__item">
                <a href="#">Dell</a>
            </div>
            <div class="tab__item">
                <a href="#">Lenovo</a>
            </div>
            <div class="tab__item">
                <a href="#">Hewlett Packard</a>
            </div>
            <div class="tab__item">
                <a href="#">Huawei</a>
            </div>
            <div class="tab__item">
                <a href="#">Cisco</a>
            </div>
            <div class="tab__item">
                <a href="#">Конфигуратор</a>
            </div>
        </div>
        <div class="demo__box">
            <div class="demo__item">
                <div class="demo__item--content">
                    <div class="box__title">
                        <p>Серверы</p>
                    </div>
                    <div class="box__img">
                        <img src="catalog/view/image/2041%201.png" alt>
                    </div>
                </div>
            </div>
            <div class="demo__item">
                <div class="demo__item--content">
                    <div class="box__title">
                        <p>Системы хранения данных</p>
                    </div>
                    <div class="box__img">
                        <img class="topik" src="catalog/view/image/dellemc-per740-24x25-bezel-lcd-2-above-ff-bold-reflection-1%202.png" alt>
                    </div>
                </div>
            </div>
            <div class="demo__item">
                <div class="demo__item--content">
                    <div class="box__title">
                        <p>Коммутаторы</p>
                    </div>
                    <div class="box__img">
                        <img class="topi-k" src="catalog/view/image/iot-gateway-5200-pdp-mod-7%201.png" alt>
                    </div>
                </div>
            </div>
            <div class="demo__item">
                <div class="demo__item--content">
                    <div class="box__title">
                        <p>МФУ</p>
                    </div>
                    <div class="box__img">
                        <img class="top-ik" src="catalog/view/image/s00009832%203.png" alt>
                    </div>
                </div>
            </div>
        </div>
        <div class="information">
            <div class="info-item">
                <div class="block-img">
                    <img src="catalog/view/image/warranty.png" alt>
                </div>
                <div class="block-title">
                    <span>
                        3-летняя гарантия на сервера<br> и накопители от производителя
                    </span>
                </div>
            </div>
            <div class="info-item">
                <div class="block-img">
                    <img src="catalog/view/image/law.png" alt>
                </div>
                <div class="block-title">
                    <span>
                        Работаем с НДС на основании закона <br>от 28.06.2022 № 213-ФЗ
                    </span>
                </div>
            </div>
            <div class="info-item">
                <div class="block-img">
                    <img src="catalog/view/image/delivery.png" alt>
                </div>
                <div class="block-title">
                    <span>
                        Доставка от 14 дней<br> со склада из Китая 
                    </span>
                </div>
            </div>
        </div>
       </div>
    </header>